*.egg-info/
*.pyc

client/build/*
client/dist/*
agent/build/*
agent/dist/*
common/build/*
common/dist/*
common/yarus/__pycache__/*
common/yarus/common/__pycache__/*
engine/build/*
engine/dist/*
engine/yarus/__pycache__/*
engine/yarus/common/__pycache__/*
tasksmanager/build/*
tasksmanager/dist/*
tasksmanager/yarus/__pycache__/*
tasksmanager/yarus/common/__pycache__/*
