{% extends "base.html" %}

{% block title %}404 - Page Not Found{% endblock %}
{% block pagetitle %}<i class="fas fa-do-not-enter"></i> 404 - Page Not Found{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        Page Not Found
    </div>
    <div class="panel-body">
        <div class="row" style="padding:15px;">
            <p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>
        </div>
    </div>
</div>

{% endblock %}
