{% extends "base.html" %}

{% block title %}Channel{% endblock %}
{% block pagetitle %}<i class="fas fa-cubes"></i> Channel{% endblock %}

{% block content %}

{% if data %}
{% if data.channel.ID %}
<a href="{{ url_for('see_object', object_name='channel', object_id=data.channel.ID) }}"><i class="fas fa-long-arrow-alt-left"></i> Go back to the channel view</a>.<br/><br />
{% else %}
<a href="{{ url_for('list_object', object_name='channel') }}"><i class="fas fa-long-arrow-alt-left"></i> Go back to the channels list</a>.<br/><br />
{% endif %}
{% else %}
<a href="{{ url_for('list_object', object_name='channel') }}"><i class="fas fa-long-arrow-alt-left"></i> Go back to the channels list</a>.<br/><br />
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">
    Add a channel
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

<form method="post" action="#">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control {% if invalid %} is-invalid {% endif %}" value="{% if data %}{{ data.channel.name }}{% endif %}" id="name" name="name" placeholder="channel name">
    <div class="invalid-feedback">
        Must not be empty.
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" placeholder="Description of the channel">{% if data %}{{ data.channel.description }}{% endif %}</textarea>
    <div class="invalid-feedback">
        Must not be empty.
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>

      </div>
      <!-- /.row (nested) -->
  </div>
  <!-- /.panel-body -->
</div>

{% endblock %}
