{% extends "base.html" %}

{% block title %}System{% endblock %}
{% block pagetitle %}<i class="fas fa-server"></i> System{% endblock %}

{% block content %}

{% if result.data %}

<a href="{{ url_for('list_object', object_name='client') }}"><i class="fas fa-long-arrow-alt-left"></i> Go back to the clients list</a><br/>
<a href="{{ url_for('see_object', object_name='client', object_id=result.data.ID) }}"><i class="fas fa-sync-alt"></i> Actualize the page</a><br/><br />

<div class="panel panel-default">
  <div class="panel-heading">
    System's information
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

  <table class="table">
      <tr>
        <td style="font-weight: bold;">ID</td>
        <td>{{ result.data.ID }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Name</td>
        <td>{{ result.data.name }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Description</td>
        <td>{{ result.data.description }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">IP Address</td>
        <td>{{ result.data.IP }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Type</td>
        <td>
          {% if result.data.type == "ubu" %}
            Ubuntu
          {% elif result.data.type == "deb" %}
            Debian
          {% elif result.data.type == "cen" %}
            CentOS
          {% elif result.data.type == "rhl" %}
            Red Hat Linux Enterprise
          {% else %}
            {{ result.data.type }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Version</td>
        <td>{{ result.data.version }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Architecture</td>
        <td>{{ result.data.architecture }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Creation date</td>
        <td>{{ result.data.creation_date }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Last check</td>
        <td>{{ result.data.last_check }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Manager</td>
        <td>{{ result.data.manager_id }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Group</td>
        <td>{{ result.data.group.name }}</td>
      </tr>
  </table>
</div>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      Actions / Tasks / Scheduled tasks
    </div>
    <div class="panel-body">
      <div class="row" style="padding:15px;">      
          Action:
          <a href="{{ url_for('edit_object', object_name='client', object_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
              Edit
          </a>
          <a type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modaldelete">
              Delete
          </a>  
          <div class="modal fade" id="modaldelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Confirm to delete the system</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the system {{ result.data.name }} ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="{{ url_for('delete_object', object_name='client', return_object='client', return_id='none', objects_id=result.data.ID) }}" class="btn btn-primary">Delete</a>
                     </div>
                </div>
            </div>
          </div>
          <br />
          <br />
          Task: 
          <a href="{{ url_for('add_task', object_name='client', object_id=result.data.ID, action='check_client') }}" type="button" class="btn btn-default btn-xs">
              Check
          </a>
      
          <a href="{{ url_for('add_task', object_name='client', object_id=result.data.ID, action='config_client') }}" type="button" class="btn btn-default btn-xs">
              Configure
          </a>
      
          <a href="{{ url_for('add_task', object_name='client', object_id=result.data.ID, action='upgradable_client') }}" type="button" class="btn btn-default btn-xs">
              List upgradable packages
          </a>

          <a type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalimport">
            Import approved packages from an other client/group
          </a>

          <div class="modal fade" id="modalimport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Import approved packages from an other client/group</h4>
                    </div>
                    <div class="modal-body">
                        <table id="import-table">
                          <thead>
                            <tr style="font-weight: bold;">
                              <td>Name</td>
                              <td>Type</td>
                              <td>Date</td>
                              <td>Date</td>
                              <td>Import</td>                              
                            </tr>
                          </thead>
                          <tbody>
                              {% for item in result.data.allupdates %}
                              <tr>
                                <td>{{ item.object.name }}</td>
                                <td>{{ item.info.object_type }}</td>
                                <td>{{ item.info.dateformat }}</td>
                                <td>{{ item.info.date }}</td>
                                <td><a href="{{ url_for('import_upgradable', object_type='client', object_id=result.data.ID, update_id=item.info.ID) }}" type="button" class="btn btn-default btn-xs">Import</a></td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
          </div>
      
          <a href="{{ url_for('add_task', object_name='client', object_id=result.data.ID, action='approved_update_client') }}" type="button" class="btn btn-default btn-xs">
            Update approved
          </a>
      
          <a href="{{ url_for('add_task', object_name='client', object_id=result.data.ID, action='all_update_client') }}" type="button" class="btn btn-default btn-xs">
            Update all
          </a>
          <br />
          <br />
          Schedule task:
          <a href="{{ url_for('add_scheduled', object_name='client', object_id=result.data.ID, action='check_client') }}" type="button" class="btn btn-default btn-xs">
            Check
          </a>
          <a href="{{ url_for('add_scheduled', object_name='client', object_id=result.data.ID, action='config_client') }}" type="button" class="btn btn-default btn-xs">
            Configure
          </a>
          <a href="{{ url_for('add_scheduled', object_name='client', object_id=result.data.ID, action='upgradable_client') }}" type="button" class="btn btn-default btn-xs">
            List upgradable packages
          </a>
          <a href="{{ url_for('add_scheduled', object_name='client', object_id=result.data.ID, action='approved_update_client') }}" type="button" class="btn btn-default btn-xs">
            Update approved
          </a>
          <a href="{{ url_for('add_scheduled', object_name='client', object_id=result.data.ID, action='all_update_client') }}" type="button" class="btn btn-default btn-xs">
            Update all
          </a>
      </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      Tasks
    </div>
    <div class="panel-body">
      <div class="row" style="padding:15px;">      
          <table id="tasks-table">
              <thead>
                <tr style="font-weight: bold;">
                  <td></td>
                  <td>ID</td>
                  <td>Action</td>
                  <td>Status</td>
                  <td>Creation date</td>
                  <td>Start date</td>
                  <td>End date</td>
                  <td>Actions</td>
                </tr>
              </thead>
              <tbody>
                {% for task in result.data.tasks %}
                  <tr>
                    <td></td>
                    <td>{{ task.ID }}</td>
                    <td>{{ task.action }}</td>
                    <td>
                      {% if task.status == 'completed' %}
                        <span class="label label-success">Completed</span>
                      {% elif task.status == 'failed' %}
                        <span class="label label-danger">Failed</span>
                      {% elif task.status == 'pending' %}
                      <span class="label label-info">Pending</span>
                      {% elif task.status == 'running' %}
                        <span class="label label-primary">Running</span>
                      {% endif %}
                    </td>
                    <td>{{ task.creation_date }}</td>
                    <td>{{ task.start_time }}</td>
                    <td>{{ task.end_time }}</td>
                    <td>
                      <a href="{{ url_for('see_object', object_name='task', object_id=task.ID) }}"><span class="fas fa-eye actions"></span></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Scheduled tasks
    <div class="pull-right">
      <div class="btn-group">
          <a href="{{ url_for('add_scheduled', object_name='channel', object_id=result.data.ID, action='sync_channel') }}" type="button" class="btn btn-default btn-xs">
              Sync
          </a>
      </div>
  </div>
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">
  <table id="scheduledtasks-table">
    <thead>
      <tr style="font-weight: bold;">
        <td></td>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      {% for scheduledtask in result.data.scheduled %}
        <tr>
          <td></td>
          <td>{{ scheduledtask.ID }}</td>
          <td><i class="fas fa-link"></i> <a href="{{ url_for('see_object', object_name='scheduled', object_id=scheduledtask.ID) }}">{{ scheduledtask.name }}</a></td>
          <td>{{ scheduledtask.description }}</td>
          <td>{{ scheduledtask.action }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">List of upgradable packages</div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">
      {% if result.data.upgradables %}
        <table id="upgradables-table">
          <thead>
            <tr>
              <td></td>
              <td>ID</td>
              <td>Package</td>
              <td>Summary</td>
              <td>From</td>
              <td>Approved</td>
            </tr>
          </thead>
          <tbody>
            {% for package in result.data.upgradables %}
              <tr>
                <td></td>
                <td>{{ package.ID }}</td>
                <td>{{ package.name }} {{ package.version }} {{ package.release }}</td>
                <td>{{ package.summary }}</td>
                <td>{{ package.component }}</td>
                <td>
                  {% if package.approved == 0 %}
                    <span class="label label-danger">No</span>
                  {% elif package.approved == 1 %}
                    <span class="label label-success">Yes</span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        No package to update. Start the task "List upgradable packages" to find packages that need an update.
        {% endif %}
        <form style="display: hidden" action="{{ url_for('approveupgradables', object_id=result.data.ID, object_type='client') }}" method="POST" id="formapprov">
          <textarea style="display:none;" id="approvedupgrade" name="approvedupgrade"></textarea>
        </form>
        <form style="display: hidden" action="{{ url_for('disapproveupgradables', object_id=result.data.ID, object_type='client') }}" method="POST" id="formdisapprov">
          <textarea style="display:none;" id="disapprovedupgrade" name="disapprovedupgrade"></textarea>
        </form>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Repositories/Channels linked to the system
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

      <table id="repochan-table">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for object in result.data.linked %}
          {% if object.type == 'r' %}
          {% set type = 'repository' %}
          {% elif object.type == 'c' %}
          {% set type = 'channel' %}
          {% endif %}
            <tr>
              <td></td>
              <td>{% if object.type == 'r' %}r{% elif object.type == 'c' %}c{% endif %}:{{ object.ID }}</td>
              <td>{% if object.type == 'r' %}Repository{% elif object.type == 'c' %}Channel{% endif %}</td>
              <td><i class="fas fa-link"></i> <a href="{{ url_for('see_object', object_name=type, object_id=object.ID) }}">{{ object.name }}</a></td>
              <td>{{ object.description }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Link repositories/channels to the system
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

      <table id="add-table">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
            {% for channel in result.data.channels %}
            <tr>
              <td></td>
              <td>c:{{ channel.ID }}</td>
              <td>Channel</td>
              <td><i class="fas fa-link"></i> <a href="{{ url_for('see_object', object_name='channel', object_id=channel.ID) }}">{{ channel.name }}</a></td>
              <td>{{ channel.description }}</td>
            </tr>
          {% endfor %}
          {% for repository in result.data.repositories %}
          <tr>
            <td></td>
            <td>r:{{ repository.ID }}</td>
            <td>Repository</td>
            <td><i class="fas fa-link"></i> <a href="{{ url_for('see_object', object_name='repository', object_id=repository.ID) }}">{{ repository.name }}</a></td>
            <td>{{ repository.description }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      Update history
    </div>
    <div class="panel-body">
      <div class="row" style="padding:15px;">      
          <table id="updates-table">
              <thead>
                <tr style="font-weight: bold;">
                  <td></td>
                  <td>Date</td>
                </tr>
              </thead>
              <tbody>
                {% for update in result.data.updates %}
                  <tr>
                    <td>{{ update.date }}</td>
                    <td><i class="fas fa-link"></i> <a href="{{ url_for('see_object', object_name='update', object_id=update.ID) }}">Update of the {{ update.date }}</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block pagejs %}
{% if result.data %}
<script>
  $(document).ready( function () {
    
    var table1 = $('#upgradables-table').DataTable({
      dom: 'Bfrtip',
      "iDisplayLength": 25,
      buttons: [
        'csv',
        'excel',
        'print',
        'selectAll',
        'selectNone',
        {
          text: 'Approve',
          enabled: false,
          action: function () {
            var rows = $.map(table1.rows( { selected: true } ).data(), function (item) {
                return item[1]
            });
            var id = ""
            $.each(rows, function(key, value) {
              id += value + ",";
            });
            $("#approvedupgrade").val(id);
            $("#formapprov").submit();
          }
        },
        {
          text: 'Disapprove',
          enabled: false,
          action: function () {
            var rows = $.map(table1.rows( { selected: true } ).data(), function (item) {
                return item[1]
            });
            var id = ""
            $.each(rows, function(key, value) {
              id += value + ",";
            });
            $("#disapprovedupgrade").val(id);
            $("#formdisapprov").submit();
          }
        },
      ],
      columnDefs: [ {
          orderable: false,
          className: 'select-checkbox',
          targets:   0
      } ],
      select: {
          style: 'multi',
          selector: 'td:first-child'
      },
      order: [[ 1, 'asc' ]]
    });
    table1.column( 1 ).visible( false );
    table1.on( 'select deselect', function () {
        var selectedRows = table1.rows( { selected: true } ).count();
        table1.button( 5 ).enable( selectedRows > 0 );
        table1.button( 6 ).enable( selectedRows > 0 );
    } );

    var table2 = $('#repochan-table').DataTable({
      dom: 'Bfrtip',
      "iDisplayLength": 25,
      buttons: [  
        'selectAll',
        {
          text: 'Remove',
          enabled: false,
          action: function () {
            var rows = $.map(table2.rows( { selected: true } ).data(), function (item) {
                return item[1]
            });
            var id = ""
            $.each(rows, function(key, value) {
              id += value + ",";
            });
            url = "{{ url_for('unlink', object_name='client', object_id=result.data.ID, lk_obj_id='') }}" + id
            $(location).attr('href', url);
          }
        },
      ],
      columnDefs: [ {
          orderable: false,
          className: 'select-checkbox',
          targets:   0
      } ],
      select: {
          style: 'multi',
          selector: 'td:first-child'
      },
      order: [[ 1, 'asc' ]]
    });
    table2.column( 1 ).visible( false );
    table2.on( 'select deselect', function () {
        var selectedRows = table2.rows( { selected: true } ).count();
        table2.button( 1 ).enable( selectedRows > 0 );
    } );

    var table3 = $('#add-table').DataTable({
      dom: 'Bfrtip',
      "iDisplayLength": 25,
      buttons: [  
        'selectAll',
        {
          text: 'Add',
          enabled: false,
          action: function () {
            var rows = $.map(table3.rows( { selected: true } ).data(), function (item) {
                return item[1]
            });
            var id = ""
            $.each(rows, function(key, value) {
              id += value + ",";
            });
            url = "{{ url_for('link', object_name='client', object_id=result.data.ID, lk_obj_id='') }}" + id
            $(location).attr('href', url);
          }
        },
      ],
      columnDefs: [ {
          orderable: false,
          className: 'select-checkbox',
          targets:   0
      } ],
      select: {
          style: 'multi',
          selector: 'td:first-child'
      },
      order: [[ 1, 'asc' ]]
    });
    table3.column( 1 ).visible( false );
    table3.on( 'select deselect', function () {
        var selectedRows = table3.rows( { selected: true } ).count();
        table3.button( 1 ).enable( selectedRows > 0 );
    } );
    
    var table9 = $('#updates-table').DataTable({
      order: [[ 0, 'desc' ]]
    });
    table9.column( 0 ).visible( false );
    
    var table11 = $('#tasks-table').DataTable({
      dom: 'Bfrtip',
      "iDisplayLength": 25,
      buttons: [  
        'selectAll',
        {
          text: 'Delete',
          enabled: false,
          action: function () {
            var rows = $.map(table11.rows( { selected: true } ).data(), function (item) {
                return item[1]
            });
            var id = ""
            $.each(rows, function(key, value) {
              id += value + ",";
            });
            url = "{{ url_for('delete_object', object_name='task', return_object='client', return_id=result.data.ID, objects_id='') }}" + id
            $(location).attr('href', url);
          }
        },
      ],
      columnDefs: [ {
          orderable: false,
          className: 'select-checkbox',
          targets:   0
      } ],
      select: {
          style: 'multi',
          selector: 'td:first-child'
      },
      order: [[ 1, 'asc' ]]
    });
    table11.column( 1 ).visible( false );
    table11.on( 'select deselect', function () {
        var selectedRows = table11.rows( { selected: true } ).count();
        table11.button( 1 ).enable( selectedRows > 0 );
    } );

    var table10 = $('#scheduledtasks-table').DataTable({
      dom: 'Bfrtip',
      "iDisplayLength": 25,
      buttons: [  
        'selectAll',
        {
          text: 'Delete',
          enabled: false,
          action: function () {
            var rows = $.map(table10.rows( { selected: true } ).data(), function (item) {
                return item[1]
            });
            var id = ""
            $.each(rows, function(key, value) {
              id += value + ",";
            });
            url = "{{ url_for('delete_object', object_name='scheduled', return_object='client', return_id=result.data.ID, objects_id='') }}" + id
            $(location).attr('href', url);
          }
        },
      ],
      columnDefs: [ {
          orderable: false,
          className: 'select-checkbox',
          targets:   0
      } ],
      select: {
          style: 'multi',
          selector: 'td:first-child'
      },
      order: [[ 1, 'asc' ]]
    });
    table10.column( 1 ).visible( false );
    table10.on( 'select deselect', function () {
        var selectedRows = table10.rows( { selected: true } ).count();
        table10.button( 1 ).enable( selectedRows > 0 );
    } );

    var importtable = $('#import-table').DataTable({
      order: [[ 3, 'desc' ]],
      "autoWidth": true
    });
    importtable.column( 3 ).visible( false );

  });
</script>
{% endif %}
{% endblock %}
