{% extends "base.html" %}

{% block title %}Repositories{% endblock %}
{% block pagetitle %}<i class="fas fa-cubes"></i> Repositories{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    List of repositories
    <div class="pull-right">
        <div class="btn-group">
            <a href="{{ url_for('add_object', object_name='repository') }}" type="button" class="btn btn-default btn-xs">
                Add a repository
            </a>
        </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

      <table id="repositories-table">
          <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Name</th>
              <th>Type</th>
              <th>Distribution</th>
              <th>Release</th>
              <th>Architecture</th>
              <th>Last sync</th>
            </tr>
          </thead>
          <tbody>
            {% for repository in result.data %}
              <tr>
                <td></td>
                <td>{{ repository.ID }}</td>
                <td><i class="fas fa-link"></i> <a href="{{ url_for('see_object', object_name='repository', object_id=repository.ID) }}">{{ repository.name }}</a></td>
                <td>{{ repository.type }}</td>
                <td>{{ repository.distribution }}</td>
                <td>{{ repository.release }}</td>
                <td>{{ repository.architectures }}</td>
                <td>{{ repository.last_sync }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>

{% endblock %}

{% block pagejs %}
<script>
  $(document).ready( function () {
    var table = $('#repositories-table').DataTable({
      dom: 'Bfrtip',
      "iDisplayLength": 25,
      buttons: [  
        'selectAll',
        'selectNone',
        {
          text: 'Delete',
          enabled: false,
          action: function () {
            var rows = $.map(table.rows( { selected: true } ).data(), function (item) {
                return item[1]
            });
            var id = ""
            $.each(rows, function(key, value) {
              id += value + ",";
            });
            url = "{{ url_for('delete_object', object_name='repository', return_object='repository', return_id='none', objects_id='') }}" + id
            $(location).attr('href', url);
          }
        },
      ],
      columnDefs: [ {
          orderable: false,
          className: 'select-checkbox',
          targets:   0
      } ],
      select: {
          style: 'multi',
          selector: 'td:first-child'
      },
      order: [[ 1, 'asc' ]]
    });
    table.column( 1 ).visible( false );
    table.on( 'select deselect', function () {
        var selectedRows = table.rows( { selected: true } ).count();
        table.button( 2 ).enable( selectedRows > 0 );
    } );
  } );
</script>
{% endblock %}
