{% extends "base.html" %}

{% block title %}Tasks{% endblock %}
{% block pagetitle %}<i class="fas fa-tasks"></i> Tasks{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    List of tasks
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">
  <table id="tasks-table">
    <thead>
      <tr style="font-weight: bold;">
        <td></td>
        <td>ID</td>
        <td>Action</td>
        <td>Object</td>
        <td>Status</td>
        <td>Creation date</td>
        <td>Start date</td>
        <td>End date</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      {% for task in result.data %}
        <tr>
          <td></td>
          <td>{{ task.ID }}</td>
          <td>{{ task.action }}</td>
          <td><i class="fas fa-link"></i> <a href="{{ url_for('see_object', object_name=task.object_type, object_id=task.object_id) }}">{{ task.object_name }}</a></td>
          <td>
            {% if task.status == 'completed' %}
              <span class="label label-success">Completed</span>
            {% elif task.status == 'failed' %}
              <span class="label label-danger">Failed</span>
            {% elif task.status == 'pending' %}
            <span class="label label-info">Pending</span>
            {% elif task.status == 'running' %}
              <span class="label label-primary">Running</span>
            {% endif %}
          </td>
          <td>{{ task.creation_date }}</td>
          <td>{{ task.start_time }}</td>
          <td>{{ task.end_time }}</td>
          <td>
            <a href="{{ url_for('see_object', object_name='task', object_id=task.ID) }}"><span class="fas fa-eye actions"></span></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- /.row (nested) -->
</div>
<!-- /.panel-body -->
</div>

{% endblock %}

{% block pagejs %}
<script>
  $(document).ready( function () {
    var table = $('#tasks-table').DataTable({
      dom: 'Bfrtip',
      "iDisplayLength": 25,
      buttons: [  
        'selectAll',
        'selectNone',
        {
          text: 'Delete',
          action: function () {
            var rows = $.map(table.rows( { selected: true } ).data(), function (item) {
                return item[1]
            });
            var id = ""
            $.each(rows, function(key, value) {
              id += value + ",";
            });
            url = "{{ url_for('delete_object', object_name='task', return_object='task', return_id='none', objects_id='') }}" + id
            $(location).attr('href', url);
          }
        },
      ],
      columnDefs: [ {
          orderable: false,
          className: 'select-checkbox',
          targets:   0
      } ],
      select: {
          style: 'multi',
          selector: 'td:first-child'
      },
      order: [[ 1, 'asc' ]]
    });
    table.column( 1 ).visible( false );

  });
</script>
{% endblock %}
