{% extends "base.html" %}

{% block title %}Users{% endblock %}
{% block pagetitle %}<i class="fas fa-users"></i> Users{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    List of users
    <div class="pull-right">
        <div class="btn-group">
            <a href="{{ url_for('add_object', object_name='user') }}" type="button" class="btn btn-default btn-xs">
                Add a user
            </a>
        </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

      <table id="repositories-table">
          <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Username</th>
              <th>Mail address</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            {% for user in result.data %}
              <tr>
                <td></td>
                <td>{{ user.ID }}</td>
                <td><i class="fas fa-link"></i> <a href="{{ url_for('see_object', object_name='user', object_id=user.ID) }}">{{ user.name }}</a></td>
                <td>{{ user.mail }}</td>
                <td>
                  {% if user.role_id == 1 %}
                    Admin
                  {% elif user.role_id == 2 %}
                    Repositories manager
                  {% elif user.role_id == 3 %}
                    Systems manager
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>

{% endblock %}

{% block pagejs %}
<script>
  $(document).ready( function () {
    var table = $('#repositories-table').DataTable({
      dom: 'Bfrtip',
      "iDisplayLength": 25,
      buttons: [  
        'selectAll',
        'selectNone',
        {
          text: 'Delete',
          enabled: false,
          action: function () {
            var rows = $.map(table.rows( { selected: true } ).data(), function (item) {
                return item[1]
            });
            var id = ""
            $.each(rows, function(key, value) {
              id += value + ",";
            });
            url = "{{ url_for('delete_object', object_name='user', return_object='user', return_id='none', objects_id='') }}" + id
            $(location).attr('href', url);
          }
        },
      ],
      columnDefs: [ {
          orderable: false,
          className: 'select-checkbox',
          targets:   0
      } ],
      select: {
          style: 'multi',
          selector: 'td:first-child'
      },
      order: [[ 1, 'asc' ]]
    });
    table.column( 1 ).visible( false );
    table.on( 'select deselect', function () {
        var selectedRows = table.rows( { selected: true } ).count();
        table.button( 2 ).enable( selectedRows > 0 );
    } );
  } );
</script>
{% endblock %}
