<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>YARUS - {% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">YARUS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{{ url_for('home') }}">Index</a>
        {% if connected %}
        <a class="nav-item nav-link" href="{{ url_for('repositories') }}">Repositories</a>
        <a class="nav-item nav-link" href="{{ url_for('channels') }}">Channels</a>
        <a class="nav-item nav-link" href="{{ url_for('clients') }}">Clients</a>
        <a class="nav-item nav-link" href="">Groups</a>
        <a class="nav-item nav-link" href="{{ url_for('tasks') }}">Tasks</a>
        <a class="nav-item nav-link" href="">Scheduler</a>
        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Log out</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    {% if result %}
      {% if result.message %}
        {% if  result.status == -1 %}
          <div class="alert alert-warning" role="alert">
            {{ result.message }}
          </div>
        {% elif result.status != 0 %}
        <div class="alert alert-danger" role="alert">
          {{ result.message }}
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
          {{ result.message }}
        </div>
        {% endif %}
      {% endif %}
    {% endif %}

    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </div>
</body>
</html>
