{% extends "base.html" %}

{% block title %}Channel{% endblock %}

{% block content %}

{% if result.data %}

<div id="options">
    <a class="btn btn-primary" role="button" href="{{ url_for('syncchannel', channel_id=result.data.ID) }}">Sync</a>
</div>

  <table class="table">
      <tr>
        <td style="font-weight: bold;">ID</td>
        <td>{{ result.data.ID }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Name</td>
        <td>{{ result.data.name }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Description</td>
        <td>{{ result.data.description }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Creation date</td>
        <td>{{ result.data.creation_date }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Last sync</td>
        <td>{{ result.data.last_sync }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Manager</td>
        <td>{{ result.data.manager_id }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Repositories linked</td>
        <td>
          {% for link in result.data.links %}
            <a href="{{ url_for('unlinkchannel', channel_id=result.data.ID, repo_id=link.ID) }}"><span class="badge badge-warning">{{ link.name }}</span></a>
          {% endfor %}
        </td>
      </tr>
  </table><br /><br />

  <h3>Add a repository to channel {{ result.data.name }}</h3>
  <form action="{{ url_for('linkchannel', channel_id=result.data.ID) }}" method="post">
    <label for="repository">Repository</label>
    <select class="form-control" id="repository" name="repository">
      {% for repository in result.data.repositories %}
        <option value="{{ repository.ID }}">{{ repository.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary mb-2">Add</button>
  </form>
{% endif %}

{% endblock %}
