{% extends "base.html" %}

{% block title %}System{% endblock %}
{% block pagetitle %}<i class="fas fa-server"></i> System{% endblock %}

{% block content %}

{% if result.data %}

<div class="panel panel-default">
  <div class="panel-heading">
    System's information
    <div class="pull-right">
      <div class="btn-group">
          <a href="{{ url_for('checkclient', client_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
              Check
          </a>
      </div>
      <div class="btn-group">
          <a href="{{ url_for('configclient', client_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
              Configure
          </a>
      </div>
      <div class="btn-group">
          <a href="{{ url_for('upgradableclient', client_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
              List upgradable packages
          </a>
      </div>
      <div class="btn-group">
          <a href="{{ url_for('approvedupdateclient', client_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
            Update approved
          </a>
      </div>
      <div class="btn-group">
          <a href="{{ url_for('allupdateclient', client_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
            Update all
          </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

  <table class="table">
      <tr>
        <td style="font-weight: bold;">ID</td>
        <td>{{ result.data.ID }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Name</td>
        <td>{{ result.data.name }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Description</td>
        <td>{{ result.data.description }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">IP Address</td>
        <td>{{ result.data.IP }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Type</td>
        <td>
          {% if result.data.type == "ubu" %}
            Ubuntu
          {% elif result.data.type == "deb" %}
            Debian
          {% elif result.data.type == "cen" %}
            CentOS
          {% elif result.data.type == "rhl" %}
            Red Hat Linux Enterprise
          {% else %}
            {{ result.data.type }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Version</td>
        <td>{{ result.data.version }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Creation date</td>
        <td>{{ result.data.creation_date }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Last check</td>
        <td>{{ result.data.last_check }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Manager</td>
        <td>{{ result.data.manager_id }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Repositories / Channel binded <span class="label label-warning">repository</span> <span class="label label-info">channel</span></td>
        <td>
          {% for object in result.data.linked %}
            <a href="{{ url_for('unlinkclient', client_id=result.data.ID, object_id=object.ID, type=object.type) }}">
              <span class="{% if object.type == 'r' %}label label-warning{% else %}label label-info{% endif %}">
                {{ object.name }}
              </span>
            </a>
          {% endfor %}
        </td>
      </tr>
  </table>
</div>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Link repositories and channels</div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">
      <form action="{{ url_for('linkclient', client_id=result.data.ID) }}" method="post">
        <div class="form-group">
          <label for="rc">Repository / Channel</label>
          <select class="form-control" id="rc" name="rc">
            {% for channel in result.data.channels %}
              <option value="c:{{ channel.ID }}">{{ channel.name }} (channel)</option>
            {% endfor %}
            {% for repository in result.data.repositories %}
              <option value="r:{{ repository.ID }}">{{ repository.name }} (repository)</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">List of upgradable packages</div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">
      {% if result.data.upgradables %}
        <table id="upgradables-table">
          <thead>
            <tr>
              <td>Name</td>
              <td>Release</td>
              <td>From</td>
              <td>Approved</td>
            </tr>
          </thead>
          <tbody>
            {% for package in result.data.upgradables %}
              <tr>
                <td>{{ package.name }}</td>
                <td>{{ package.release }}</td>
                <td>{{ package.type }}</td>
                <td>
                  {% if package.approved == 0 %}
                    <a href="{{ url_for('approveupgradable', client_id=result.data.ID, package_id=package.ID) }}"><span class="label label-danger">No</span></a>
                  {% elif package.approved == 1 %}
                    <a href="{{ url_for('disapproveupgradable', client_id=result.data.ID, package_id=package.ID) }}"><span class="label label-success">Yes</span></a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
</div>

{% endif %}

{% endblock %}

{% block pagejs %}
<script>
  $(document).ready( function () {
    $('#upgradables-table').DataTable();
  } );
</script>
{% endblock %}
