{% extends "base.html" %}

{% block title %}Client{% endblock %}

{% block content %}

<div id="options">
  <a class="btn btn-primary" role="button" href="{{ url_for('addclient') }}">Add a client</a>
</div>

{% if result.data %}
  <table class="table">
    <tr style="font-weight: bold;">
      <td>Name</td>
      <td>Description</td>
      <td>Distribution</td>
      <td>Release</td>
      <td>Actions</td>
    <tr>

    {% for client in result.data %}
      <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.description }}</td>
        <td>
          {% if client.type == "ubu" %}
            Ubuntu
          {% elif client.type == "deb" %}
            Debian
          {% elif client.type == "cen" %}
            CentOS
          {% elif client.type == "rhl" %}
            Red Hat Linux Enterprise
          {% endif %}
        </td>
        <td>{{ client.version }}</td>
        <td>
          <a href="{{ url_for('seeclient', client_id=client.ID) }}"><span class="fas fa-eye actions"></span></a>
          <a href="{{ url_for('editclient', client_id=client.ID) }}"><span class="fas fa-edit actions"></span></a>
          <a href="{{ url_for('deleteclient', client_id=client.ID) }}"><span class="fas fa-trash-alt actions"></span></a>
        </td>
      <tr>
    {% endfor %}
  </table>
{% endif %}

{% endblock %}
