{% extends "base.html" %}

{% block title %}Group{% endblock %}
{% block pagetitle %}<i class="fas fa-server"></i> Group{% endblock %}

{% block content %}

{% if result.data %}

<div class="panel panel-default">
  <div class="panel-heading">
    Group's information
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

  <table class="table">
      <tr>
        <td style="font-weight: bold;">ID</td>
        <td>{{ result.data.ID }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Name</td>
        <td>{{ result.data.name }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Description</td>
        <td>{{ result.data.description }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Creation date</td>
        <td>{{ result.data.creation_date }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Manager</td>
        <td>{{ result.data.manager_id }}</td>
      </tr>
  </table>
        </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Actions / Tasks / Scheduled tasks
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">      
        Action:
        <a href="{{ url_for('editgroup', group_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
            Edit
        </a>
        <br />
        <br />
        Task: 
        <a href="{{ url_for('checkgroup', group_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
          Check
        </a>
    
        <a href="{{ url_for('configgroup', group_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
          Configure
        </a>
    
        <a href="{{ url_for('upgradablegroup', group_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
            List upgradable packages
        </a>
    
        <a href="{{ url_for('approvedupdategroup', group_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
          Update approved
        </a>
    
        <a href="{{ url_for('allupdategroup', group_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
          Update all
        </a>
        <br />
        <br />
        Schedule task:
        <a href="{{ url_for('addscheduledtask', object_type='group', object_id=result.data.ID, action='check_group') }}" type="button" class="btn btn-default btn-xs">
          Check
        </a>
        <a href="{{ url_for('addscheduledtask', object_type='group', object_id=result.data.ID, action='config_group') }}" type="button" class="btn btn-default btn-xs">
          Configure
        </a>
        <a href="{{ url_for('addscheduledtask', object_type='group', object_id=result.data.ID, action='upgradable_group') }}" type="button" class="btn btn-default btn-xs">
          List upgradable packages
        </a>
        <a href="{{ url_for('addscheduledtask', object_type='group', object_id=result.data.ID, action='approved_update_group') }}" type="button" class="btn btn-default btn-xs">
          Update approved
        </a>
        <a href="{{ url_for('addscheduledtask', object_type='group', object_id=result.data.ID, action='all_update_group') }}" type="button" class="btn btn-default btn-xs">
          Update all
        </a>
    </div>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      Tasks
    </div>
    <div class="panel-body">
      <div class="row" style="padding:15px;">      
        
      </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Systems in the group
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

      <table id="systemsin-table">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Distribution</th>
            <th>Release</th>
          </tr>
        </thead>
        <tbody>
          {% for client in result.data.links %}
            <tr>
              <td></td>
              <td>{{ client.ID }}</td>
              <td>{{ client.name }}</td>
              <td>{{ client.description }}</td>
              <td>{{ client.distribution }}</td>
              <td>{{ client.version }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Add a system to the group
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

      <table id="systems-table">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Distribution</th>
            <th>Release</th>
          </tr>
        </thead>
        <tbody>
          {% for client in result.data.clients %}
            <tr>
              <td></td>
              <td>{{ client.ID }}</td>
              <td>{{ client.name }}</td>
              <td>{{ client.description }}</td>
              <td>{{ client.distribution }}</td>
              <td>{{ client.version }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>

  </div>
</div>
</div>

{% endif %}

{% endblock %}

{% block pagejs %}
<script>
  $(document).ready( function () {
    var table = $('#systems-table').DataTable({
      dom: 'Bfrtip',
      "iDisplayLength": 25,
      buttons: [  
        'selectAll',
        {
          text: 'Add',
          action: function () {
            var rows = $.map(table.rows( { selected: true } ).data(), function (item) {
                return item[1]
            });
            var id = ""
            $.each(rows, function(key, value) {
              id += value + ",";
            });
            url = "{{ url_for('linkgroup', group_id=result.data.ID, clients_id='') }}" + id
            $(location).attr('href', url);
          }
        },
      ],
      columnDefs: [ {
          orderable: false,
          className: 'select-checkbox',
          targets:   0
      } ],
      select: {
          style: 'multi',
          selector: 'td:first-child'
      },
      order: [[ 1, 'asc' ]]
    });

    table.column( 1 ).visible( false );

    var table2 = $('#systemsin-table').DataTable({
      dom: 'Bfrtip',
      "iDisplayLength": 25,
      buttons: [  
        'selectAll',
        {
          text: 'Remove',
          action: function () {
            var rows = $.map(table2.rows( { selected: true } ).data(), function (item) {
                return item[1]
            });
            var id = ""
            $.each(rows, function(key, value) {
              id += value + ",";
            });
            url = "{{ url_for('unlinkgroup', group_id=result.data.ID, clients_id='') }}" + id
            $(location).attr('href', url);
          }
        },
      ],
      columnDefs: [ {
          orderable: false,
          className: 'select-checkbox',
          targets:   0
      } ],
      select: {
          style: 'multi',
          selector: 'td:first-child'
      },
      order: [[ 1, 'asc' ]]
    });

    table2.column( 1 ).visible( false );
  });
</script>
{% endblock %}