{% extends "base.html" %}

{% block title %}Repositories{% endblock %}
{% block pagetitle %}<i class="fas fa-cubes"></i> Repositories{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    List of repositories
    <div class="pull-right">
        <div class="btn-group">
            <a href="{{ url_for('addrepository') }}" type="button" class="btn btn-default btn-xs">
                Add a repository
            </a>
        </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

{% if result.data %}
<table id="repositories-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Distribution</th>
        <th>Release</th>
        <th>Components</th>
        <th>Architectures</th>
        <th>Last sync</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for repository in result.data %}
        <tr>
          <td>{{ repository.name }}</td>
          <td>{{ repository.type }}</td>
          <td>{{ repository.repository }}</td>
          <td>{{ repository.release }}</td>
          <td>{{ repository.components }}</td>
          <td>{{ repository.architectures }}</td>
          <td>{{ repository.last_sync }}</td>
          <td>
            <a href="{{ url_for('seerepository', repo_id=repository.ID) }}"><span class="fas fa-eye actions"></span></a>
            <a href="{{ url_for('editrepository', repo_id=repository.ID) }}"><span class="fas fa-edit actions"></span></a>
            <a href="{{ url_for('deleterepository', repo_id=repository.ID) }}"><span class="fas fa-trash-alt actions"></span></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}


      </div>
      <!-- /.row (nested) -->
  </div>
  <!-- /.panel-body -->
</div>

{% endblock %}

{% block pagejs %}
<script>
  $(document).ready( function () {
    $('#repositories-table').DataTable();
  } );
</script>
{% endblock %}
