{% extends "base.html" %}

{% block title %}Repository{% endblock %}
{% block pagetitle %}<i class="fas fa-cubes"></i> Repository{% endblock %}

{% block content %}

{% if result.data %}

<div class="panel panel-default">
  <div class="panel-heading">
    Repository's information
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">


  <table class="table">
      <tr>
        <td style="font-weight: bold;">ID</td>
        <td>{{ result.data.ID }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Name</td>
        <td>{{ result.data.name }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Description</td>
        <td>{{ result.data.description }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Remote root URL of the repository</td>
        <td>{{ result.data.URL }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Distribution</td>
        <td>{{ result.data.repository }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Release</td>
        <td>{{ result.data.release }}</td>
      </tr>
      {% if result.data.path %}
      <tr>
        <td style="font-weight: bold;">Path</td>
        <td>{{ result.data.path }}</td>
      </tr>
      {% endif %}
      <tr>
        <td style="font-weight: bold;">Components</td>
        <td>{{ result.data.components }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Architectures</td>
        <td>{{ result.data.architectures }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Type</td>
        <td>{{ result.data.type }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Creation date</td>
        <td>{{ result.data.creation_date }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Last sync</td>
        <td>{{ result.data.last_sync }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Manager</td>
        <td>{{ result.data.manager_id }}</td>
      </tr>
  </table>

</div>
</div>
</div>

<div class="panel panel-default">
      <div class="panel-heading">
          Actions / Tasks / Scheduled tasks
      </div>
      <div class="panel-body">
        <div class="row" style="padding:15px;">      
            Action:
            <a href="{{ url_for('editrepository', repo_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
                Edit
            </a>
            <a href="{{ url_for('deleterepositories', repos_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
                Delete
            </a>
            <br />
            <br />
            Task: 
            <a href="{{ url_for('syncrepository', repo_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
                Sync
            </a>
            <br />
            <br />
            Schedule a task: 
            <a href="{{ url_for('addscheduledtask', object_type='repo', object_id=result.data.ID, action='sync_repo') }}" type="button" class="btn btn-default btn-xs">
                Sync
            </a>
        </div>
      </div>
</div>

{% endif %}

{% endblock %}
