{% extends "base.html" %}

{% block title %}Repository{% endblock %}
{% block pagetitle %}<i class="fas fa-cubes"></i> Repository{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    Repository's information
    <div class="pull-right">
        <div class="btn-group">
            <a href="{{ url_for('syncrepository', repo_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
                Sync
            </a>
        </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

{% if result.data %}

  <table class="table">
      <tr>
        <td style="font-weight: bold;">ID</td>
        <td>{{ result.data.ID }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Name</td>
        <td>{{ result.data.name }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Description</td>
        <td>{{ result.data.description }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">URL</td>
        <td>{{ result.data.URL }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Distribution</td>
        <td>{{ result.data.repository }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Release</td>
        <td>{{ result.data.release }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Components</td>
        <td>{{ result.data.components }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Architectures</td>
        <td>{{ result.data.architectures }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Type</td>
        <td>{{ result.data.type }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Creation date</td>
        <td>{{ result.data.creation_date }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Last sync</td>
        <td>{{ result.data.last_sync }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Manager</td>
        <td>{{ result.data.manager_id }}</td>
      </tr>
  </table>
{% endif %}

      </div>
  </div>
</div>

{% endblock %}
