{% extends "base.html" %}

{% block title %}Scheduled{% endblock %}
{% block pagetitle %}<i class="fas fa-clock"></i> Scheduled{% endblock %}

{% block content %}

{% if result.data %}

<a href="{{ url_for('list_object', object_name='scheduled') }}"><i class="fas fa-long-arrow-alt-left"></i> Go back to the scheduled tasks list</a><br/>
<a href="{{ url_for('see_object', object_name='scheduled', object_id=result.data.ID) }}"><i class="fas fa-sync-alt"></i> Actualize the page</a><br/><br />

<div class="panel panel-default">
  <div class="panel-heading">
    Scheduled tasks' information
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">

  <table class="table">
    <tr>
        <td style="font-weight: bold;">ID</td>
        <td>{{ result.data.ID }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Name</td>
        <td>{{ result.data.name }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Description</td>
        <td>{{ result.data.description }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Action</td>
        <td>{{ result.data.action }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Object</td>
        <td><i class="fas fa-link"></i> <a href="{{ url_for('see_object', object_name=result.data.object_type, object_id=result.data.object_id) }}">{{ result.data.object_name }}</a></td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Creation date</td>
        <td>{{ result.data.creation_date }}</td>
      </tr>
  </table>
</div>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Actions / Tasks / Scheduled tasks
    </div>
    <div class="panel-body">
      <div class="row" style="padding:15px;">      
          Action:
          <a href="{{ url_for('edit_object', object_name='scheduled', object_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
              Edit
          </a>
          <a href="{{ url_for('delete_object', object_name='scheduled', return_object='scheduled', return_id='none', objects_id=result.data.ID) }}" type="button" class="btn btn-default btn-xs">
              Delete
          </a>
      </div>
    </div>
</div>

{% endif %}

{% endblock %}
