{% extends "base.html" %}

{% block title %}Tasks{% endblock %}
{% block pagetitle %}<i class="fas fa-clock"></i> Scheduler{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    List of scheduled tasks
  </div>
  <div class="panel-body">
    <div class="row" style="padding:15px;">
  <table id="tasks-table">
    <thead>
      <tr style="font-weight: bold;">
        <td></td>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
        <td>Action</td>
        <td>Object ID</td>
        <td>Creation date</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      {% for scheduledtask in result.data %}
        <tr>
          <td></td>
          <td>{{ scheduledtask.ID }}</td>
          <td>{{ scheduledtask.name }}</td>
          <td>{{ scheduledtask.description }}</td>
          <td>{{ scheduledtask.task_action }}</td>
          <td>{{ scheduledtask.object_id }}</td>
          <td>{{ scheduledtask.creation_date }}</td>
          <td>
            <a href="{{ url_for('seetask', task_id=scheduledtask.ID) }}"><span class="fas fa-eye actions"></span></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- /.row (nested) -->
</div>
<!-- /.panel-body -->
</div>

{% endblock %}

{% block pagejs %}
<script>
  $(document).ready( function () {
    var table = $('#tasks-table').DataTable({
      dom: 'Bfrtip',
      "iDisplayLength": 25,
      buttons: [  
        'selectAll',
        {
          text: 'Delete',
          action: function () {
            var rows = $.map(table.rows( { selected: true } ).data(), function (item) {
                return item[1]
            });
            var id = ""
            $.each(rows, function(key, value) {
              id += value + ",";
            });
            url = "{{ url_for('deletescheduledtasks', scheduledtasks_id='') }}" + id
            $(location).attr('href', url);
          }
        },
      ],
      columnDefs: [ {
          orderable: false,
          className: 'select-checkbox',
          targets:   0
      } ],
      select: {
          style: 'multi',
          selector: 'td:first-child'
      },
      order: [[ 1, 'asc' ]]
    });

    table.column( 1 ).visible( false );

  });
</script>
{% endblock %}
